.switch_lang {
    margin-right: 20px;
    height: 40px;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
        margin-right: 10px;
    }
    select{
        height: inherit;
        width: 60;
        font-size: 15px;
        font-style: italic;
    }
    img{
        margin-right: 5px;
    }
}