@font-face {
    font-family:'AcuminProWide' ;
    src: url('./assets/fonts/AcuminProWide-Bold.otf');
}

html, body{
    font-family: 'AcuminProWide';
    background-color: #C4C8D3;
    margin: 0;
    padding: 0;
}